<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
   <h1>Welcome to Le Buddy</h1>
    <p>Work through past challenges together.</p>
  </div>
</div>

<div class="banner">
    <h1>Find a buddy anywhere in the world!</h1>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<div class="container mt-4">
  <div class="cards-list">
  <% @challenges.each do |challenge| %>
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="p-3">
       <div class="d-flex justify-content-between mb-2">
          <div class="card-footer">
            <h2><%= challenge.title %></h2>
            <p><%= challenge.category %></p>
          </div>
        </div>
       </div>
      <%# <%= cl_image_tag challenge.user.avatar.key, class: "card-trip-user avatar-bordered" %>
      <% end %>
    </div>
  </div>
</div>
