<div class="container">
  <h1>DASHBOARD</h1>
  <h3>"Hey <%= current_user.name %>"</h3>

  <h5>Your current Challenges</h5>

  <br>
  <p>
  <% current_user.challenges.all.each do |challenge| %>
  <p><%= challenge.title %></p>
  <% end %>

<br>

  <div class="d-flex m-5">
    <div class="m-3">
      <h4>Your booking requests</h4>
        <% current_user.bookings.each do |booking| %>
        <h5><%= booking.challenge.title %></h5>
        <p>Requested start date:<%= booking.start_date.strftime("%c") %></p>
        <br>
        <p>Requested end date:<%= booking.end_date.strftime("%c") %></p>
      <% end %>
    </div>
    <div class="m-3">
      <h4>Your Challenge requests</h4>
        <% current_user.requests.each do |request| %>
        <h5><%= request.challenge.title %></h5>
        <p><%= request.start_date.strftime("%c") %></p>

        <p><%= request.end_date.strftime("%c") %></p>

      <% end %>
    </div>

  </div>

</div>


<%#
<h5>Your current bookings:</h5>
<p><%= current_user.challenges.bookings %>
<%# </p> %>
