

  <div class="container">
    <h1>All Challenges</h1>
  </div>

<div class="container mt-4">
  <div class="cards">
     <% @challenges.each do |challenge| %>
      <%= link_to challenge_path(challenge) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= challenge.title %>
          <%= challenge.category %>
          <div >
            <%= link_to "Request to buddy-up on this challenge", new_challenge_booking_path(challenge) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

    <p>Find a buddy to work on Le Wagon challenges</p>
    <p><%= link_to "New Challenge", new_challenge_path, class: "btn btn-flat" %></p>
