<div class="container mt-4">

<div class="container ">
  <h1 class="banner-index h1">Fellow Le Wagon Alumni Want to Work on these Challenges</h1>
</div>
  <div class="cards">
    <% @challenges.each do |challenge| %>
      <%= link_to challenge_path(challenge) do %>
        <div class="card-product">
            <%= image_tag(challenge.title) %>
            <div class="card-product-infos">
              <h2> <%= challenge.title %></h2>
              <p> <%= challenge.duration %></p>
              <p> <%= challenge.user.location %></p>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%#  %>
