<div class= "mt-4">
  <div class="mx-auto", style="width: 500px;">
  <h2>Create new challenge:</h2>
    <%= simple_form_for @challenge do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :category, :collection => %w[Ruby OOP DB Front Rails] %>
    <%= f.input :duration, :collection => %w[Challenge FullDay Module] %>
    <button class="button"><%= f.button :submit %></button>
    <% end %>
  </div>
