<h1>Create new challenge:</h1>
<%= simple_form_for @challenge do |f| %>
<%= f.input :title %>
<%= f.input :description %>
<%= f.input :category, :collection => %w[Ruby OOP DB Front Rails] %>
<%= f.input :duration, :collection => %w[Challenge FullDay Module] %>
<%= f.button :submit %>

<% end %>

<div id = map>
<%# place map here %>
</div>
