<div class="container container-show mt-5">
  <div class="header-show d-flex align-items-center justify-content-between">
    <div class="buddy-info p-4 d-flex flex-column align-items-center">
      <div class="buddy-avatar">
        <% if @challenge.user.avatar.attached? %>
          <%= cl_image_tag @challenge.user.avatar.key, class: "avatar-large"%>
        <% else %>
          <img class = "avatar-large" src="https://kitt.lewagon.com/placeholder/users/<%=@challenge.user.github%>" />
        <% end %>
      </div>
      <div class="buddy-name-place text-center mt-4">
        <h4><%= @challenge.user.username.strip %></h4>
        <p class="fa-solid fa-location-dot"> <%=  @challenge.user.location %></p>
      </div>
    </div>
    <div class="buddy-reason text-center ml-4">
      <div class="buddy-reason1">
        <p>Why I want to do this challenge...</p>
      </div>
        <p><%= @challenge.description %></p>
    </div>
  </div>
  <br>
  <div class="buddy-bio">
    <p> <strong>Bio:</strong> <%= @challenge.user.bio %><p>
  </div>
  <% if current_user != @challenge.user %>
  <div class="buddy-up">
    <button type="button" class="btn btn-buddy" data-bs-toggle="modal" data-bs-target="#exampleModal">Buddy Up</button>
  </div>
  <% end %>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Write a message to personalise your Buddy Request</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <%= simple_form_for [@challenge, @booking] do |f| %>
        <%= f.input :comment %>
        <%= f.button :submit, class: "btn btn-buddy"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
