


<div class="container m-4">
<h1>The Buddy for this challenge is: </h1>
<h2><%= @challenge.user.username %></h2>
<h2><%= @challenge.user.bio %></h2>
  <div class="container m-4 p-4 justify-content card-trip">
    <h1><%= @challenge.title %></h1>
    <h2> <%= @challenge.description %></h2>
    <h2><%= @challenge.category %></h2>
   <h2><%= @challenge.availability %></h2>
    <h2><%= @challenge.duration %></h2>
    <p><%=link_to "I'm keen", new_challenge_booking_path(@challenge) %></p>
  </div>
</div>
